html(lang="fr")
  include ../partials/header.pug
  script.
    party = !{JSON.stringify(party)}
  body
    h1 Qui prend quoi
    h2= party.name
    h3 Crée par #{party.author}
    h3 le #{party.date}
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}` )
    h3 Items
form(method="post" action=`/party/${party._id}/items`)
  div.party__bloc--one
    label(for="name") je prends quoi ?
    input(type="text" id="name" name="name" required placeholder="Bonbons")
    label(for="user") Nom de la personne 
    input(type="text" id="user" name="user" required placeholder="Melvin")
  button.party__bloc--create(type="submit") Créer
div
  each item in party.items
    div.items
      p #{item.user} prends #{item.name}
      form(method="post" action=`/party/${party._id}/items/${item._id}?_method=DELETE`)
        button(type="submit") Supprimer l'item
